/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    /*background-color: #374a5d !important;*/
    border: 0 !important;
}

#container{
    margin: 0 auto;
    width: 1060px;
    min-height: 100%;
    background-color: transparent;
    border: 0;
}

#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

.task-list{
    padding-top: 15px;
    /*width: 250px;
    float: left;
    margin: 0 5px;*/
    background-color: #e3e3e3;
    /*min-height: 240px;*/
    border-radius: 10px;
    padding-bottom: 15px;
    border-right: 1px solid #e3e3e3;
}
.task-list:not(:last-child) {
   /* margin-right: 10px;*/
}

.task-list input, .task-list textarea{
    width: 240px;
    /*margin: 1px 5px;*/
}

.task-list input{
    /*height: 30px;*/
}

.todo-task{
    z-index: 99999 !important;
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;
}

.draggable {
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari 3-8 */
    transform: rotate(3deg);
}

.task-list input[type="button"]{
    width: 100px;
    margin: 5px;

}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
    color: #fff;
    
}

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

/*Form Settings*/

.wrapper {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	height: 300px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.wrapper h2 {
	color: #666;
	margin:0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 30px;
}

.wrapper .input-field {
	position: relative;
	width: 100%;
	margin-top:50px;
}

.wrapper .input-field input {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	border:none;
	border-bottom: 1px solid #666;
	outline: none;
	font-size: 16px;
	color: #666;
	font-weight: 700;
}

.wrapper .input-field label {
	position: absolute;
	top:0;
	left: 0;
	padding: 3px;
	pointer-events: none;
	font-style: italic;
	transition: 0.5s;
	color: #666;
	opacity: 0.5;
}

.wrapper .input-field input:valid + label ,.wrapper .input-field input:focus + label {
	top:-30px;
	background: #007bff;
	color: #fff;
	border-radius: 20px;
	font-weight: 700;
	opacity: 1;
}

/*Form Settings*/

/*Responsive sign in form*/
@media (max-width: 610px) {
    .wrapper {
        width: 300px;
        height: 500px;
    }

   
}